.userEmail{
    color: white;
    padding-left: 8%;
}
.navBar{
    background-color: #0c2069;
    width:100%;
    height: 60px;
}
.navBar .aTag, .navBar .textAndIcon, .navBar .queries{
    border-right: 1px solid #0085a2;
    text-decoration: none;
    color:white;
}
.navBar .aTag{
    padding: 0.5% 8%;
    margin: 1% 0;
}
.navBar .textAndIcon, .navBar .queries{
    padding: 1% 8%;
}
.navBar .aTag:hover, .navBar .textAndIcon:hover{
    color: #0085a2;
}
.navImg{
    height: 47%;
    width: auto;
}
.myIcon{
    padding-left:5% ;
}
@media only screen and (max-width: 1521px) {
    .navBarDiv2{
        padding-left: 0!important;
    }
}
@media only screen and (max-width: 1161px) {
    .navBar .queries, .navBar .aTag {
        padding: 0.5% 5%;
    }
}
@media only screen and (max-width: 1142px) {
    .navBarDiv {
        padding-right: 0 !important;
        width:70% !important;
    }
    .navBarDiv2 {
        width: 30% !important;
    }
}
@media only screen and (max-width: 1064px) {
    .navBar .queries, .navBar .aTag {
        padding: 0.5% 3%;
    }
}
@media only screen and (max-width: 1024px) {
    .navBarDiv {
        width:65% !important;
    }
    .navBarDiv2 {
        width: 35% !important;
    }

}
@media only screen and (max-width: 994px) {
    .navBar .aTag, .navBar .aTag {
        padding: 0.5% 2%;
    }
    .navBarDiv {
        padding-right: 0 !important;
        width:65% !important;
    }
    .navBarDiv2 {
        width: 35% !important;
    }
}

@media only screen and (max-width: 850px) {
    .navBarDiv {
        padding-right: 0 !important;
        width:60% !important;
    }
    .navBarDiv2 {
        width: 40% !important;
    }
}
@media only screen and (max-width: 749px) {
    .navImg {
        height: 40%;
        width: auto;
    }
    .navBarDiv {
        padding-right: 0 !important;
        width:50% !important;
    }
    .navBarDiv2 {
        width: 50% !important;
    }
}

@media only screen and (max-width: 700px) {
    .navBar{
        height:120px;
    }
    .navBar .aTag, .navBar .textAndIcon, .navBar .queries {
        border-right: none!important;
        border-bottom: 1px solid #0085a2;
    }
    .navBarDiv{
        width: 100%!important;
        height:2px;
    }
    .navBarDiv2 {
        padding-left: 11%!important;
        padding-top: 8%;
        width: 100%!important;
    }
    .navImg {
        height: 62px;
        width: auto;
    }
    .userEmail{
        padding-top: 2%;
    }
}

@media only screen and (max-width: 608px) {
    .navBarDiv2 {
        padding-left: 13% !important;
        padding-top: 8%;
        width: 100%;
    }
    .userEmail {
        padding: 1% 0;
    }
}
@media only screen and (max-width: 590px) {
    .navBarDiv2 {
        padding-left: 48% !important;
    }
}
@media only screen and (max-width: 480px) {
    .navBarDiv2 {
        padding-left: 17%;
        padding-top: 14%;
    }
}

@media only screen and (max-width: 452px) {
    .navBarDiv2 {
        padding-left: 24% !important;
    }
    .navBar .aTag, .navBar .textAndIcon, .navBar .queries, .userEmail {
        font-size: 13px;
    }
}
@media only screen and (max-width: 375px) {
    .navBarDiv2 {
        padding-left: 21% !important;
    }
}