.userEmail{
    color: white;
    padding-left: 8%;
}
.navBar{
    background-color: #0c2069;
    width:100%;
    height: 60px;
}
.navBar .aTag, .navBar .textAndIcon{
    border-right: 1px solid #0085a2;
    text-decoration: none;
    color:white;
}
.navBar .aTag{
    padding: 0.5% 8%;
    margin: 1% 0;
}
.navBar .textAndIcon{
    padding: 1% 8%;
}
.navBar .aTag:hover, .navBar .textAndIcon:hover{
    color: #0085a2;
}
.navImg{
    height: 47%;
    width: auto;
}
.myIcon{
    padding-left:5% ;
}
.navBarDiv2{
    padding-left: 4%;
}

@media only screen and (max-width: 1140px) {
    .navBarDiv2{
        padding-left: 0!important;
    }
}

@media only screen and (max-width: 994px) {
    .navBar .aTag {
        padding: 0.5% 2%;
    }
}
@media only screen and (max-width: 749px) {
    .navImg {
        height: 40%;
        width: auto;
    }
}
@media only screen and (max-width: 630px) {
    .navBar{
        height:105px;
    }
    .navBar .aTag, .navBar .textAndIcon {
        border-right: none!important;
        border-bottom: 1px solid #0085a2;
    }
    .navBarDiv{
        width: 100%!important;
        height:2px;
    }
    .navBarDiv2 {
        padding-left: 60%!important;
        padding-top: 8%;
        width: 100%;
    }
    .navImg {
         height: 62px;
         width: auto;
     }
}
@media only screen and (max-width: 590px) {
    .navBarDiv2 {
        padding-left: 48% !important;
    }
}
@media only screen and (max-width: 452px) {
    .navBarDiv2 {
        padding-left: 24% !important;
    }
    .navBar .aTag, .navBar .textAndIcon {
        font-size: 13px;
    }
}
@media only screen and (max-width: 375px) {
    .navBarDiv2 {
        padding-left: 21% !important;
    }
}
