.myBtn{
    width: 20%;
}
.onSaleItems{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    gap:0.33%;
    grid-template-rows:auto;
}
.onSaleItem{
    border:1px solid #000;
    margin:2%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
}
.onSaleImg{
    width:50%;
    margin: 2% auto;
}
.saleBtn{
    margin: 0 auto;
    width: 40%;
}
@media only screen and (max-width: 992px) {
    .saleBtn{
        margin: 0 auto;
        width: 90%;
    }
}
@media only screen and (max-width: 425px) {
    .onSaleItems{
        display:grid;
        grid-template-columns: 49.5% 49.5%;
        gap:1%;
        grid-template-rows:auto;
    }
    .appliesUntil{
        font-size: 10px;
    }
}
