.allTables{
    margin-top: 5%;
}
.tableLeft{
    margin-right: 2%;
}
.input{
    width:30%;
}
.input2{
    width:35%;
}
.half{
    width:49%;
}
.table1{
    margin-bottom: 8%;
}
.btnWidth{
    width:34%;
}
@media only screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column!important;
    }
    .half{
        width:100%;
    }
    .tableLeft{
        margin-right: 0;
    }
}
