@media only screen and (max-width: 1024px) {
    .seeOrderTable tr th, .seeOrderTable tr td, .seeOrderBtn{
        font-size: 13px;
    }
}
@media only screen and (max-width: 992px) {
    .seeOrderTable tr th, .seeOrderTable tr td, .seeOrderBtn{
        font-size: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .seeOrderTable tr th, .seeOrderTable tr td, .seeOrderBtn{
        font-size: 6px;
    }
}
@media only screen and (max-width: 487px) {
    .seeOrderTable tr th, .seeOrderTable tr td, .seeOrderBtn{
        font-size: 3px;
    }
}
@media only screen and (max-width: 320px) {
    .seeOrderTable tr th, .seeOrderTable tr td, .seeOrderBtn{
        font-size: 2px;
    }
}